.container_experience{
	background-color: rgba(242, 242, 245, 1);
	border-top: 1px solid rgba(220, 217, 217, 1);
	padding-top: 60px;
	padding-bottom: 60px;
	color: rgba(0, 0, 0, 0.9);
	font-family: 'Nanum Gothic', sans-serif;
}
.container_experience_title {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 60px;
	color: rgba(52, 152, 219, 0.9);
}
.container_experience_jobscontainer {
	display: flex;
	justify-content: space-around;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 20px;
}
.container_experience_jobscontainer_item_1 {
flex:1 1 0;
}
.container_experience_jobscontainer_item_1 h2 {
font-size: 20px;
text-align: center;
padding-top: 10px;
color: rgba(52, 152, 219, 0.9);
}
.container_experience_jobscontainer_item_2 {
flex:1.5 1 0;
border:1px solid rgba(220, 217, 217, 1);
padding:5px 10px 5px 10px; 
background-color: white;
border-radius: 3px;
}
.container_experience_jobscontainer_item_2 h2 {
font-size: 24px;
}
.container_experience_jobscontainer_item_2 h3 {
font-size: 20px;	
color: rgba(0, 0, 0, 0.7);
}